<%= provide(:title, 'Sign In') %>
<%= form_tag sessions_url do %>
	<%= label_tag :email %>
	<%= text_field_tag :email %>
	<%= label_tag :password %>
	<%= text_field_tag :password %><br/>
	<%= submit_tag 'Sign In', class: 'button' %>
<% end %>
<br/>
<p>Not a member? <%= link_to 'Sign up!', new_member_url %></p>