<%= content_tag_for(:li, catbribe) do %>
	<p><%= image_tag catbribe.image, width: 300 %></p>
	<p><%= catbribe.caption %></p>
	<p class='created_at'>
		Created <%= time_ago_in_words(catbribe.created_at) %> ago by <%= catbribe.member.full_name %>.
	</p>
	<br/><br/>
<% end %>