<% if @current_member.present? %>
	<% if @catbribe.errors.present? %>
		<div class='alert alert-error'>
			<p>Whoops! Your CatBribe is missing something...</p>
			<% @catbribe.errors.full_messages.each do |message| %>
				<li><%= message %>.</li>
			<% end %>
		</div>
	<% end %>
	<%= form_for @catbribe, url: catbribes_url, remote: true, html: { multipart: true } do |f| %>
		<%= f.label :cat_id, 'Cat' %>
		<%= f.select :cat_id, Cat.find_all_by_member_id(@current_member.id).collect { |x| x.name }, include_blank: true  %><br/><br/>
		<%= f.label :image, 'CatBribe' %>
		<%= f.file_field :image %><br/><br/>
		<%= f.label :caption %>
		<%= f.text_area :caption, rows: 3, placeholder: 'So it seems that Mittens also enjoys eating mittens.' %><br/><br/>
		<%= f.submit 'Add a CatBribe', class: 'btn btn-info btn-large' %>
	<% end %>
	<br/>
<% end %>