<div class='row'>
	<div class='span6'>
		<h2><%= @cat.name %></h2>
		<br/>
		<p><%= @cat.breed %></p>
		<p><%= "#{time_ago_in_words(@cat.birthday).capitalize} old." if @cat.birthday.present? %></p>
		<p><%= @cat.description %></p>
		<% if @current_member.present? && @auth.empty? %>
		<p><%= mail_to @cat.email(@cat.id), "+ Request Authorization", :encode => 'hex', :subject => "Request Authorization for #{@cat.name}", :body => "I'd like to be able to post photos of #{@cat.name} too." %></p>
		<% end %>
		<br/>

		<h2>Recent CatBribes</h2>
		<br/>
		<%= render 'catbribes/catbribe', catbribes: @cat.catbribes.order('created_at desc') %>
	</div>
</div>