<%= provide(:title, @cat.name) %>
<div class='row'>
	<div class='span6'>
		<p><%= @cat.breed %></p>
		<p><%= time_ago_in_words(@cat.birthday).capitalize %> old.</p>
		<p><%= @cat.description %></p>
		<br/>
	</div>
	
	<div class='span6'>
		<%= render 'catbribes/catbribe', catbribes: @cat.catbribes %>
	</div>
</div>