<!DOCTYPE html>
<html>
<head>
  <title>CatBribesApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1><%= link_to 'CatBribes', root_url %></h1>
		<% if @current_member %>
			<p><%= link_to 'Sign Out', sessions_url %>
		<% else %>
			<p><%= link_to 'Sign In', new_session_url %></p>
		<% end %>
	</header>
	<div class='content'>
		<h2><%= yield :title %></h2>
		<% if flash[:notice] %>
			<p class='notice'><%= flash[:notice] %></p>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
