<!DOCTYPE html>
<html>
<head>
  <title>CatBribes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class='content'>
		<% if flash[:notice] %>
			<br/>
			<p class='notice'><%= flash[:notice] %></p>
		<% end %>
		<h2><%= yield :title %></h2>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
