<!DOCTYPE html>
<html>
<head>
  <title>CatBribes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class='catbribes_content'>
		<div class='container'>
			<% if flash[:notice] %>
				<br/>
				<p class='notice'><%= flash[:notice] %></p>
			<% end %>
			<div class='row'>
				<h2 class='span12'><%= yield :title %></h2>
				
			</div>
			<br/>
			<%= yield %>
		</div>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
