<%= provide(:title, @member.full_name) %>
<div class='row'>
	<div class='span6'>
		<%= gravatar_for @member, size: 200 %><br/><br/>
		<p>E-mail: <%= @member.email %></p>
		<p>Cake Day: <%= @member.created_at.strftime('%D') %></p>
		<br/>
	</div>
	<div class='span6'>
		<% if @member.cats.count == 0 %>
			<div class='center hero-unit'>
				<h2>Get Started</h2>
				<p>
					Tell us about your cat, so you can add CatBribes
					and tag your cat.
				</p>
				<%= link_to '+ Cat', new_cat_url, class: 'btn btn-large btn-primary' %>
			</div>
		<% else %>
			<% @member.cats.each do |cat| %>
				<h2><%= link_to cat.name, cat_url(cat.id) %> <%= link_to "<i class='icon-pencil'></i>".html_safe, edit_cat_url(cat.id) %></h2>
				<p><%= cat.breed %></p>
				<p><%= time_ago_in_words(cat.birthday).capitalize %> old.</p>
				<p><%= cat.description %></p>
				<hr/>
			<% end %>
			<%= link_to '+ Cat', new_cat_url, class: 'btn btn-large btn-primary' %>
		<% end %>
	</div>
</div>