<div class='row'>
	<div class='span5'>
		<h2><%= @member.full_name %></h2>
		<br/>
		<%= gravatar_for @member, size: 200 %><br/><br/>
		<p>E-mail: <%= @member.email %></p>
		<p>Cake Day: <%= @member.created_at.strftime('%D') %></p>
		<% if @member.cats.count == 0 && @member.id == session[:mid] %>
			<br/>
			<br/>
			<div class='center hero-unit'>
				<h2>Get Started</h2>
				<p>
					Tell us about your cat, so you can add CatBribes
					and tag your cat.
				</p>
				<%= link_to '+ Cat', new_cat_url, class: 'btn btn-large btn-info' %>
			</div>
		<% else %>
			<hr/>
			<br/>
			<h2>
				Cats 
				<%= link_to '+ Cat', new_cat_url, class: 'btn btn-large btn-info pull-right add_cat' if @member.cats.count > 0 && @member.id == session[:mid] %>
			</h2>
			<% @member.cats.each do |cat| %>
				<h2><%= link_to cat.name, cat_url(cat.id) %> <%= link_to "<i class='icon-pencil'></i>".html_safe, edit_cat_url(cat.id) if @member.id == session[:mid] %></h2>
				<p><%= cat.breed %></p>
				<p><%= "#{time_ago_in_words(cat.birthday).capitalize} old." if cat.birthday.present? %></p>
				<p><%= cat.description %></p>
				<p><%= link_to '+ Authorize Member', new_cat_member_url(cat_id: cat.id) if @current_member.id == params[:id].to_i %></p>
				<hr/>
			<% end %>	
		<% end %>
	</div>
	<div class='span2'>&nbsp;</div>
	<% if @member.cats.count > 0 %>
		<div class='span5'>
			<h2>Recent CatBribes</h2><br/>
			<%= render 'catbribes/catbribe', catbribes: @member.catbribes.order('created_at desc') %>
			<%= link_to '+ CatBribe', new_catbribe_url, class: 'btn btn-info btn-large' %>
			<br/><br/>
		</div>
	<% end %>
</div>